.text-sphere {
    /* position: relative; */
    /* top : 0; */
    background-color: black;
    border-radius: 50%;
    border: 2px solid white;
    position: relative;
    width: max-content;
    height: max-content;
    right: 60%;
    bottom: 10%;
  }
  
  .tagcloud{
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 600;
    letter-spacing: 0.0635em;
    font-size: 1.3em;
  }
  
  .tagcloud--item{
    color: rgb(31,229,222);
    text-transform: uppercase;
  }
  
  .tagcloud--item:hover{
    color: white;
  }
  