.App {
  text-align: center;
}



.my-text{
  font-family: 'Mogra', cursive;
}

/* .cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: black;
  mix-blend-mode: difference;
background-color: white;
} */

/* * {
  cursor: none;
} */